* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* A améliorer car sur tout petit écran, problème de blanc */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://wallpaperaccess.com/full/5420481.jpg");
    background-size: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.header{
    border-bottom: 1px solid #3031349f;
}

.logo {
    max-width: 80px;
    max-height: 60px;
}

.nav-play-btn {
    width: 110px;
    height: 30px;
    border-radius: 20px;
    background-color: #E9B44B;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
    box-shadow: 1px 1px 10px black; 
    font-size: 1rem;
    font-weight: 600;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes slideIn {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 2px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

.nav-img {
    background-image: url("/img/splash.png");
    background-size: contain;
}

.play-nav-link {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #303134;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 500;
    color: #E9B44B;
}

.nav-link:hover{
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 2rem 1rem;
    height: 89vh;
    justify-content: center;
}

.heading-container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

h1 {
    color: #E9B44B;
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 1px 1px 20px black;
}

.introduction-container, .text-container {
    background-color: rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    width: 40vw;
    border-radius: 10px;
}

.text-container-about {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    width: 40vw;
    height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.introduction-text {
    color: white;
    padding: 1.5rem;
    font-size: 2.5rem;
}

.btn-container {
    display: flex;
    margin-top: 3rem;
}

.play-btn-homepage, .contact-btn {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: #E9B44B;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
    box-shadow: 1px 1px 20px black;
}

.play-btn {
    display: none;
}

.contact-btn > a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #303134;
}

.play-btn > a, .play-btn-homepage > a{
    font-size: 1.8rem;
    font-weight: 900;
    color: #303134;
}

.text-container {
    padding: 3rem;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.page-title {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

th {
    padding: 1rem 0;
    color: #E9B44B;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;

}

td {
    color: white;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
}

.player-score{
    font-weight: 800;
}

.about-us-text {
    margin-top: 2rem;
}

.btn-container-desktop {
    display: none;
}

img {
    max-width: 60%;
}

.about-us-desktop {
    flex-direction: row;
}

/* Game page */ 

.body-game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    flex: 1 1 0;
}

.game-score {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 240px;
    height: 80px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.game-countdown {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    width: 240px;
    height: 80px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 18px;
}

progress {
    width: 65%;
}

.game-logo {
    height: auto;
}

.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex: 1 1 0;
}

.game-screen {
    color: white;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*inside game-screen*/
.tracks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
}

/*inside tracks*/
.track {
    display: flex;
    flex-direction: column;
    width: calc((30vw)*0.97/4);
    background-color: black;
    opacity: 54%;
    overflow: hidden;
}

.note {
    box-sizing : border-box;
    height: calc((30vw)*0.97/8);
    width: calc((30vw)*0.97/4);
    background-color: green;
    border-radius: 5px;
    animation-name: move-down;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: active;
    position: relative;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

@keyframes move-down {
    0% {
        top: 0vh;
    }
    100% {
        top: 100vh;
    }
    }

/*inside tracks*/
.receptor-s, .receptor-d, .receptor-k, .receptor-l {
    box-sizing : border-box;
    height: calc((30vw)*0.97/8);
    width: calc((30vw)*0.97/4);
    border: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: calc((30vw)*0.97/8);
}

/*inside game-screen*/
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: calc((30vw)*0.97/8);
}

/*inside buttons*/
.button-s {
    background-color: green;
}

/*inside buttons*/
.button-d {
    background-color: red;
}

/*inside buttons*/
.button-k {
    background-color: yellow;
}

/*inside buttons*/
.button-l {
    background-color: blue;
}

/*inside buttons*/
.button-s, .button-d, .button-k, .button-l {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 800;
    /*text-shadow: 2px 2px 2px black;*/
    color: black;
    opacity: 75%;
    width: calc(97%/4);
}

.player-score, .time-left {
    font-weight: 800;
    padding-left: 5px;
}

/* Launch game popup */

.launch-game-popup {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1;
    margin-top: 6rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.launch-game-popup > h2, .end-game-popup > h2 {
    color: #303134;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
}

.end-game-popup > p {
    color: #303134;
    font-size: 2rem;
    text-align: center;
    margin-top: .5rem;
    font-weight: 900;
}

.launch-game-btn, .end-game-btn {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.launch-btn {
    margin: 0.5rem 0;
    background-color: #E9B44B;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    color: #303134;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

/* Countdown 3, 2, 1... */

.launch-game-countdown {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1;
    margin-top: 6rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    box-sizing: border-box;
}

.countdown {
    margin: auto;
    font-size: 10rem;
    font-weight: 800;
    color: #E9B44B;
    text-shadow: 1px 1px 20px black;
}

.mobile-popup {
    display: none;
}

/* End game popup */

.end-game-popup {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1;
    margin-top: 6rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.s-touch, .d-touch, .k-touch, .l-touch {
    color: #E9B44B;
    font-weight: 600;
    font-size: 1.5rem;
}

.s-touch:hover {
    color: green;
}
.d-touch:hover {
    color: red;
}
.k-touch:hover {
    color: yellow;
}
.l-touch:hover {
    color: blue;
}

.leaderboardFilter {
    margin-bottom: 2rem;
}

.leaderboardFilterList {
    display: flex;
}

.leaderboardFilterItem {
    color: white;
    width: 100px;
    height: 30px;
    margin-right: 1rem;
    cursor: pointer;
    color: #303134;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E9B44B;
    border: none;
    border-radius: 20px;
}

.leaderboardFilterItem:hover {
    background-color: white;
}