body {
    background-image: url("https://wallpaperaccess.com/full/5420481.jpg");
    background-size: 100%;
    background-position-x: left;
    background-position-y: -150px;
    background-repeat: no-repeat;
}
