* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* A améliorer car sur tout petit écran, problème de blanc */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://wallpaperaccess.com/full/5420481.jpg");
    background-size: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.header{
    border-bottom: 1px solid #3031349f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #303134;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 500;
    color: #E9B44B;
}

.nav-link:hover{
    color: white;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #E9B44B;
}

/* Game page */ 
.game-screen {
    height: 90vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tracks {
    display: flex;
    height: 72vh;
    width: 728px;
}

.track-d {
    margin-left: 2px;
    margin-right: 2px;
}

.track-k {
    margin-right: 2px;
}

.track-s, .track-d, .track-k, .track-l {
    flex-grow: 1;
    background-color: black;
    opacity: 54%;
}

.buttons {
    display: flex;
    height: 18vh;
    width: 728px;
}

.button-s {

    background-color: green;
}

.button-d {

    background-color: red;
    margin-left: 2px;
    margin-right: 2px;
}

.button-k {
    background-color: yellow;
    margin-right: 2px;
}

.button-l {
    background-color: blue;
}

.button-s, .button-d, .button-k, .button-l {
    width: 180.5px;
}
