* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #303134;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #E9B44B;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 2rem;
    position: fixed;
    left: -100%;
    top: 3.8rem;
    flex-direction: column;
    background-color: #303134;
    width: 90%;
    text-align: left;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    opacity: 85%;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 400;
    color: #E9B44B;
}

.nav-link:hover{
    color: white;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #E9B44B;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
